<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Mobile</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    </head>
    <body>
        <div id="gamepad" class="earth">
            <button type="button" id="fullscreen">Toggle FullScreen</button>
            <div id="inputs">
                <div id="element-inputs">
                    <button class="element-input" id="fire">Fire</button>
                    <button class="element-input" id="earth">Earth</button>
                    <button class="element-input" id="wind">Wind</button>
                    <button class="element-input" id="water">Water</button>
                </div>
                <div id="combo-system">
                    <div id="combo-inputs">
                        <button class="combo-input" id="left">&larr;</button>
                        <div>
                            <button class="combo-input" id="top">&uarr;</button>
                            <button class="combo-input" id="bottom">&darr;</button>
                        </div>
                        <button class="combo-input" id="right">&rarr;</button>
                    </div>
                    <div id="combo-container">
                        <fieldset>
                            <legend>Spell list</legend>
                            <ul id="spell-list"></ul>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            var playerInformation = {
                type: 'fairy',
                code: '${code}'
            };
        </script>
        <script src="/socket.io/socket.io.js"></script>
        <script src="../dist/mobile.js"></script>
        <script src="../dist/vendor.js"></script>
    </body>
</html>