* {
  padding: 0;
  margin: 0;
}

html, html:-webkit-full-screen, body, body:-webkit-full-screen {
  height: 100%;
  width: 100%;
}

body {
  background-color: #444;
  color: #FFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: sans-serif;
}

h1 {
  color: white;
  font-size: 60px;
  font-family: 'Tangerine', cursive;
  margin: 40px 0;
  @media only screen and (min-width: 1280px) {
    font-size: 80px;
  }
}

#game {
  border-radius: 5px;
  display: flex;
}

#link {
  text-align: center;
  font-size: 18px;
  line-height: 1.4;
  margin-top: 20px;
  button {
    margin-bottom: 10px;
  }
}

button {
  -webkit-appearance: none;
  border: none;
  padding: 7px 10px;
  background-color: #549dad;
  color: white;
  border-radius: 5px;
  font-size: 22px;
  letter-spacing: .05em;
  cursor: pointer;
}